.social{
    font-size: 4.5em;
    padding: 3rem;
    text-decoration: none;

    a{
        text-decoration: none;
    }
.facebook{
    color: #3b5998;
    margin-right: 4rem;
}
.twitter{
    color: #00aced;
    margin-right: 4rem;
}
.github{
    color: #000;
    margin-right: 4rem;
}
.instagram{
    color: #517fa4;
    margin-right: 4rem;
}
.youtube{
    color: #bb0000;
}

}

