.fun{
    border: 1px solid #000;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    text-transform: capitalize;
    margin-bottom: 2rem;
    transition: 0.2s ease-in-out;

   
    

    &:hover{
        background: #2e2e2e;
    color: white;
    }
.gif{
    max-width: 100%;
}
}
.fixed-image{
    width: 100%;
    height: 1000px;
}
