.articles{
    .html5{
        color: #e54d26;
    }
    .bootstrap4{
        color: #563d7c;
    }
    .css3{
        color: #2163af;
    }
    .fontsize{
        font-size: 4em;
        margin: 1rem;
    }
}