.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
    scroll-margin: 100px 0 0 50px;
hr{
    border-top: 2px solid #b4b4b4b4;
    width: 95%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;

}
}


























//@include media-breakpoint-up(md) { ... }
//@include media-breakpoint-up(lg) { ... }
//@include media-breakpoint-up(xl) { ... }